[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
coreapi = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
django-cors-headers = "*"
psycopg2-binary = "==2.8.5"
django-minio-storage = "==0.3.8"
minio = "==6.0.0"
celery = "==4.4.7"
lxml = "*"
Pillow = "*"
django-rest-framework-social-oauth2 = "*"
langdetect = "==1.0.9"
dcxml = "==0.1.2"
atlassian-python-api = "*"
pdf2image = "==1.16.0"
numpy = "==1.21.0"
scrapy = "==2.5.0"
scrapyd = "==1.2.0"
python-scrapyd-api = "==2.1.2"
beautifulsoup4 = "==4.9.3"

[requires]
python_version = "3.9"
