[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
coreapi = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
django-cors-headers = "*"
psycopg2-binary = "==2.8.5"
django-minio-storage = "==0.3.8"
minio = "==6.0.0"
celery = "==4.4.7"


[requires]
python_version = "3.9"
