.space {
  padding: 20px;
}

.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 15px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.pagination > li {
  margin-left: 10px;
}

.pagination > li > a {
  padding: 10px;
}

.pagination > .active > a {
  background-color: #ffffff;
  border: solid 1px #b4b4b4;
  padding: 10px;
  border-radius: 3px;
  color: #159cdb !important;
}
