

.space {
  padding: 20px;
}

.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 15px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.pagination > li {
  margin-left: 10px;
}

.pagination > li > a {
  padding: 10px;
  outline: none;
}

.pagination > .active > a {
  background-color: white;
  /*border: solid 1px #b4b4b4;*/
  padding: 10px;
  border-radius: 3px;
  color: #2196F3 !important;
}

.page-card {
  width: 20rem !important;
  margin-left: 15px;
  margin-bottom: 10px;
}

.page-card-img {
  width: 18rem !important;
}

.scroll-horizontally {
  overflow-x: auto;
  overflow-y: hidden;
}

.margin-left {
  margin-left: 5px !important;
}

.margin-right {
  margin-right: 5px !important;
}
