NODE_ENV=development
REACT_APP_API_URL=http://localhost:8000

DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=nobody@crosslang.com

DJANGO_SECRET_KEY=%!91096kdmoi#=qxm1*a*g$&v^2db%i=5c)0bk!mta$io*x8e(
DJANGO_ALLOWED_HOSTS="0.0.0.0 localhost django django.occam.crosslang.com"
DJANGO_CORS_ORIGIN_WHITELIST="http://localhost:3000 http://localhost:3001 http://localhost:8000 https://react.dgfisma.crosslang.com"

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=929639281599-8ufjqdo3t0plli2iql1710pkg27fth0l.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=HOCpy7CEfrkD_GtGeT2EZjU2

REACT_DJANGO_CLIENT_ID=kw1n5yIOASh5JUAMk1Vb4SIfDpUsO0QcvMZTqIJl
REACT_DJANGO_CLIENT_SECRET=Rt2fMrYufDxGFnGaIIQnJvdwa5P9WibwuwYUMaalfRR2pb2W4It4n3jMxuRzs4OpolLFmWUklUflwKIm1VTIJfoPcCUVQzBnREmBZG43NepHBfXoY9V3G2e7h2gAgNeI

DJANGO_DEBUG=True
POSTGRES_DB=occ_django
POSTGRES_USER=occ_django
POSTGRES_PASSWORD=hdGkP3dR
POSTGRES_HOST=occ_postgres
POSTGRES_PORT=5432

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio-secret
MINIO_STORAGE_ENDPOINT=occ_minio:9000
MINIO_STORAGE_MEDIA_URL=http://localhost:19000/local-media
MINIO_STORAGE_STATIC_URL=http://localhost:19000/local-static
MINIO_STORAGE_MEDIA_BUCKET_NAME=local-media
MINIO_HTTPS=False

RABBITMQ_DEFAULT_USER=celery
RABBITMQ_DEFAULT_PASS=YzyTgPufBX5BuVNT
RABBITMQ_DEFAULT_VHOST=celery_vhost

CELERY_BROKER_URL=pyamqp://celery:YzyTgPufBX5BuVNT@rabbitmq/celery_vhost
CELERY_BACKEND=rpc://
CELERY_CACHE_BACKEND=django-cache

API_KEY_PERO_OCR=5eB8q7up0nb000J3KGEvtdNOmB52LvUrRWfNXelcLtg
CEF_ETRANSLATION_URL=http://gpu1.crosslang.com:9050
TM_URL=https://mouse.occam.crosslang.com
DOCUMENT_CLASSIFIER_URL=http://gpu1.crosslang.com:9080/classify

CONFLUENCE_URL=http://confluence-server.crosslang.com
CONFLUENCE_USERNAME=<username>
CONFLUENCE_PASSWORD=<password>
CONFLUENCE_SPACE=OCCAM
CONFLUENCE_MANUAL_PAGE_TITLE=Application Manual

SCRAPYD_URL=http://scrapyd:6800